# MOHAMED EL GUENDOUZ
## Create KPI's

#### Import Mock Data

In [6]:
import pandas as pd

df = pd.read_csv("MOCK_DATA.csv")
df

,id,first_name,last_name,gender,age,email,adress,salary,country,job,last_company
0,1,Gregoor,Windham,Male,41.0,gwindham0@cdc.gov,784 East Park,6088,Netherlands,Programmer III,Dabtype
1,2,Staci,Briat,Female,48.0,sbriat1@bing.com,271 Spenser Terrace,4421,Guatemala,Information Systems Manager,Realcube
2,3,Grace,Gymblett,Female,37.0,ggymblett2@marketwatch.com,22 Nelson Crossing,3366,Poland,Graphic Designer,Zoomcast
3,4,Reggy,Marley,Female,25.0,rmarley3@hugedomains.com,8885 Thierer Terrace,2155,Myanmar,Staff Scientist,Gabspot
4,5,Fredi,Stirling,Female,60.0,fstirling4@t.co,2 Algoma Junction,3991,Philippines,Research Associate,Realcube
...,...,...,...,...,...,...,...,...,...,...,...
837,838,Anastassia,Skeeles,Male,32.0,askeelesn9@foxnews.com,18031 3rd Avenue,5814,Pakistan,Statistician II,Divape
838,839,Drugi,Hallum,Female,56.0,dhallumna@123-reg.co.uk,92 Northport Terrace,2531,China,Environmental Specialist,Topicshots
839,840,Karia,Eynaud,Male,44.0,keynaudnb@ed.gov,8 Everett Street,3499,Nigeria,Safety Technician IV,Thoughtworks
840,841,Kirstyn,Enbury,Male,18.0,kenburync@ning.com,09 Sullivan Way,5279,Sweden,GIS Technical Architect,Zoonder
841,842,Julita,Stanger,Male,42.0,jstangernd@cmu.edu,0435 Fisk Terrace,2439,China,Automation Specialist II,Tazz

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 11 columns):
id              842 non-null int64
first_name      842 non-null object
last_name       842 non-null object
gender          842 non-null object
age             752 non-null float64
email           842 non-null object
adress          842 non-null object
salary          842 non-null int64
country         842 non-null object
job             842 non-null object
last_company    752 non-null object
dtypes: float64(1), int64(2), object(8)
memory usage: 72.5+ KB

#### Quality Data

In [26]:
for columns in df.columns:
    print("_________________________________________________")
    print(columns)
    print("----------------------------------")
    if (df[columns].isnull().values.any()):
        print(df[columns].dtypes)
        print("Nous avons détectées "+ df[columns].isnull().sum() +" NaN dans cette colonnes")
        print("Nous avons détectées "+ df[columns].isnull().sum() +" NaN dans cette colonnes")

_________________________________________________
id
----------------------------------
_________________________________________________
first_name
----------------------------------
_________________________________________________
last_name
----------------------------------
_________________________________________________
gender
----------------------------------
_________________________________________________
age
----------------------------------
float64

TypeError: must be str, not numpy.int64

#### What is the gender balance in the company?

In [7]:
df_count_gender = df
df_count_gender["gender"].describe()

count        842
unique         2
top       Female
freq         429
Name: gender, dtype: object